# CODEOWNERS file
# Default owners for all files are the durasagv maintainers
*         @nova-ecosystem/maintainers-product-durasagv

/api/     @nova-ecosystem/maintainers-product-durasagv
/app/     @nova-ecosystem/maintainers-product-durasagv
/website/ @nova-ecosystem/maintainers-product-durasagv
/tests/   @nova-ecosystem/maintainers-product-durasagv