# CODEOWNERS file
# Default owners for all files are the duras-agv maintainers
*         @nova-ecosystem/maintainers-product-duras-agv

/api/     @nova-ecosystem/maintainers-product-duras-agv
/app/     @nova-ecosystem/maintainers-product-duras-agv
/website/ @nova-ecosystem/maintainers-product-duras-agv
/tests/   @nova-ecosystem/maintainers-product-duras-agv