# CODEOWNERS file
# Default owners for all files are the duras-agv maintainers
*         @novaeco-tech/maintainers-product-duras-agv

/api/     @novaeco-tech/maintainers-product-duras-agv
/app/     @novaeco-tech/maintainers-product-duras-agv
/website/ @novaeco-tech/maintainers-product-duras-agv
/tests/   @novaeco-tech/maintainers-product-duras-agv